body{
    margin: 0;
    padding: 0;
    background: linear-gradient(rgb(218, 63, 63), rgb(254, 17, 17)) no-repeat;
    background-attachment: fixed;
}
.header{
    display: flex;
}
.title{
    width: 50%;
    text-align: center;
    font-size: 20px;
    /* border: 2px solid red; */
    background: linear-gradient(30deg  ,rgb(218, 63, 63), rgb(204, 176, 176));
    
}
.navbar{
    padding-top: 30px;
    /* margin-top: 22px; */
    width: 50%;
    text-align: center;
    /* border: 2px solid blue; */
    background: linear-gradient(30deg , rgb(204, 176, 176) ,rgb(218, 63, 63));
    
}
.navbar a{
    padding: 2px 8px 2px 8px;
    border-radius: 30px;
    color: black;
    margin: 20px;
    text-decoration: none;
    box-shadow: 2px 2px 20px 2px rgb(8, 8, 8);
    
}
.navbar a:hover{
    cursor: pointer;
    transition: transform 7s; /* Animation */
    /* height: 30px; */
    padding: 10px 8px 10px 8px;
    
    color: whitesmoke;
    background: linear-gradient(40deg,rgb(0, 0, 0),rgb(98, 94, 94));
    /* box-shadow: 5px 10px 1 blue; */
}
.content h2{
text-align: center;
font-family: 'Pacifico', cursive;
}
.content h3{
    /* font-family: 'Tapestry', cursive; */
    font-family: 'Square Peg', cursive;
    background: linear-gradient(rgb(232, 118, 118),rgb(243, 0, 0));
    font-size: 50px;
    letter-spacing: 2px;
    word-spacing: 20px;
    text-shadow: 1px 1px 7px rgb(4, 4, 4);
    /* align-items: center; */
    padding: 5px;
    margin: 0 530px 0 530px;
    text-align: center;
    /* border: 2px solid black; */
    border-radius: 50%;
}
.content img{
    padding: 1px;
    display: block;
    height: 280px;
    width: 30%;
    margin: 43px 140px 50px 140px;
    border-radius: 30px;
    box-shadow: 2px 2px 20px 8px rgb(0, 0, 0);
    cursor: pointer;
}
.content img:hover{
    padding: 5px;
  background-color: rgb(3, 3, 3);
  transition: transform 7s; /* Animation */
  /* width:  30%; */
  /* height: 280px; */
  margin: 43px 140px 50px 140px;
}
.content #image1{
    float: left;
}
.content #image2{
    float: right;
}
